.defaultControl {
    background-color: #fff;
    margin-bottom: 1.5rem;
    padding: 8px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    display: flex;
    justify-content: space-around;
}

.defaultControl .useDefault,
.defaultControl .clear {
    width: 40%;
    background: none;
    border: none;
    margin-top: 0;
    padding: .6rem;
    font-size: .9rem;
    font-weight: 700;
}

.defaultControl .useDefault {
    background-color: #f2f3f5;
}

.defaultControl .clear {
    color: #b91c1c;
}