.template {
    width: 70%;
    max-height: max-content;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.education,
.experience {
    margin-top: 2rem;
    padding: 15px 40px;
}

.field {
    position: relative;
}

.field button {
    position: absolute;
    border: none;
    background: none;
    margin-top: 0;
    padding: 0;
    top: 0;
    left: 50%;
    opacity: 0;
    cursor: pointer;
}

.field:hover button {
    opacity: 1;
}